[submodule "wasm/zig_wasm_3_raylib/raylib-zig"]
	path = wasm/zig_wasm_3_raylib/raylib-zig
	url = https://github.com/Not-Nik/raylib-zig.git
[submodule "wasm/zig_wasm_4_raylib/raylib"]
	path = wasm/zig_wasm_4_raylib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "gamedev/zig-flecs/flecs"]
	path = gamedev/zig-flecs/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "gamedev/zig-flecs/vendor/zig-gamedev"]
	path = gamedev/zig-flecs/vendor/zig-gamedev
	url = https://github.com/zig-gamedev/zig-gamedev.git
[submodule ".\\vendor\\zig-gamedev\\"]
	url = https://github.com/gabrieldechichi/zig-gamedev.git
[submodule "gamedev/zig-sokol/sokol-zig"]
	path = gamedev/zig-sokol/sokol-zig
	url = https://github.com/floooh/sokol-zig.git
