[submodule "wasm/zig_wasm_3_raylib/raylib-zig"]
	path = wasm/zig_wasm_3_raylib/raylib-zig
	url = https://github.com/Not-Nik/raylib-zig.git
[submodule "wasm/zig_wasm_4_raylib/raylib"]
	path = wasm/zig_wasm_4_raylib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "gamedev/zig-flecs/flecs"]
	path = gamedev/zig-flecs/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "gamedev/zig-flecs/vendor/zig-gamedev"]
	path = gamedev/zig-flecs/vendor/zig-gamedev
	url = https://github.com/zig-gamedev/zig-gamedev.git
[submodule ".\\vendor\\zig-gamedev\\"]
	url = https://github.com/gabrieldechichi/zig-gamedev.git
[submodule "gamedev/zig-sokol/sokol-zig"]
	path = gamedev/zig-sokol/sokol-zig
	url = https://github.com/floooh/sokol-zig.git
[submodule "gamedev/love2d/vendor/LICK"]
	path = gamedev/love2d/vendor/LICK
	url = https://github.com/usysrc/LICK.git
[submodule "programming-languages/c/lowlevel.academy/czerotozero/vendor/Unity"]
	path = programming-languages/c/lowlevel.academy/czerotozero/vendor/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "programming-languages/c/gui_task_management/leif"]
	path = programming-languages/c/gui_task_management/leif
	url = https://github.com/cococry/leif
[submodule "gamedev/webgpu/webgpu-examples/vendor/cglm"]
	path = gamedev/webgpu/webgpu-examples/vendor/cglm
	url = https://github.com/recp/cglm.git
[submodule "gamedev/webgpu/webgpu-examples/vendor/tinyobjloader-c"]
	path = gamedev/webgpu/webgpu-examples/vendor/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "gamedev/webgpu/webgpu-examples/fast_obj"]
	path = gamedev/webgpu/webgpu-examples/fast_obj
	url = https://github.com/thisistherk/fast_obj
[submodule "gamedev/webgpu/webgpu-examples/vendor/fast_obj"]
	path = gamedev/webgpu/webgpu-examples/vendor/fast_obj
	url = https://github.com/thisistherk/fast_obj
[submodule "gamedev/graphics/raytracing-cherno/vendor/Walnut"]
	path = gamedev/graphics/raytracing-cherno/vendor/Walnut
	url = https://github.com/gabrieldechichi/Walnut.git
[submodule "gamedev/graphics/raytracing-cherno/vendor/glfw"]
	path = gamedev/graphics/raytracing-cherno/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "gamedev/graphics/raytracing-cherno/vendor/imgui"]
	path = gamedev/graphics/raytracing-cherno/vendor/imgui
	url = https://github.com/ocornut/imgui.git
