CompileFlags:
  Add: 
    - '-I./'
    - '-I./include'
    - '-I./src'
    - '-I../../src'
    - '-I../vendor'
    - '-I../../vendor'
    - '-I../vendor/stb'
    - '-I../vendor/webgpu'
    - '-I../vendor/glfw3webgpu'
